# =========================================================
# SUPABASE
# =========================================================
VITE_SUPABASE_URL=https://ifrpcqqkyoidyfhjglhk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlmcnBjcXFreW9pZHlmaGpnbGhrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYzMzI5MzYsImV4cCI6MjA5MTkwODkzNn0.x0D5118W2nJh_vfSHgfdf3wjL8Pr4L2aNmV5QrRMRms


# =========================================================
# PUSH NOTIFICATIONS (VAPID)
# =========================================================
VITE_VAPID_PUBLIC_KEY=your-public-vapid-key
VITE_VAPID_PRIVATE_KEY=your-private-vapid-key


# =========================================================
# ANALYTICS (optional)
# =========================================================
VITE_GA_TRACKING_ID=G-XXXXXXXXXX
